.gallery{
    grid-row: 6/7;
    grid-column: 1/-1;
    display: grid;
    grid-template: repeat(7, 4vw)/repeat(11, 1fr);
    gap: 3rem;
    transform: translateY(-10rem);
    @media only screen and (max-width:$bp-small) {grid-template: repeat(7, 6vw)/repeat(11, 1fr); gap: 1.5rem; transform: translateY(-6rem);}
    &-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        &-1{ grid-area:1/1/4/4;}
        &-2{ grid-area:4/1/7/4;}
        &-3{ grid-area: 1/4/7/7;}
        &-4{ grid-area: 1/7/7/12;}
    }
    &-text{
        font-style: italic;
        grid-area:6/9/8/11;
        height: fit-content;
        color: $color-grey-light-1;
        background-color: rgba($color-primary,.85);
        padding: 3.5rem 3rem;
        box-shadow: $shadow-light;
        font-weight: 500;
        transform: translateY(-2rem);
        box-shadow: $shadow-light;
        @media only screen and (max-width:$bp-large) {grid-area:6/8/8/11;}
        @media only screen and (max-width:$bp-medium) {padding: 1.5rem;grid-area:6/7/8/11;}
        @media only screen and (max-width:$bp-smaller) {grid-area:5/7/8/11;}
    }
}