.side-nav{
    grid-row: 2/4;
    grid-column: 1/2;
}
.mobile-nav{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: $color-primary;
    color: white;
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        cursor: pointer;
        transition: all .3s;
        &:hover{
            transform: scale(1.15);
        }
    }
}
.top-nav{
    grid-row: 1/2;
    grid-column: 2/-1;
}