.story{
    grid-row: 3/4;
    grid-column: 2/-1;
    background-color: $color-primary;
    padding-top: 10%;
    display: flex;
    justify-content: space-evenly;
    color: $color-grey-light-1;
    h2{color: inherit;}
    &-img-box{
        height: 100%;
        position: relative;
    }
    &-img{
        height: 100%;
        &-text{
            font-style: italic;
            position: absolute;
            bottom: -12%;
            left: -27%;
            width: 40%;
            color: $color-primary;
            background-color: rgba(255, 255, 255, 0.842);
            padding: 3rem 4rem;
            box-shadow: $shadow-light;
            font-weight: 500;
        }
    }
    &-text{
        width: 30%;
    }
}